<h2>기본적으로 제공하는 형식입니다(기본 폰트로 Consolas사용합니다.)</h1>
<textarea style="font-Family: Consolas" rows="8" cols="500">
{{text3}}
</textarea>
<hr>
<h2>여기 밑으로는 랜덤 형식으로 제공합니다.(가끔 폰트가 너무 구려서 이상해요 f5눌러주세요)</h2>
<h2>small<h2>
<textarea style="font-Family: Consolas" rows="8" cols="500">
{{text4}}
</textarea>
<hr>
<h2>medium<h2>
<textarea style="font-Family: Consolas" rows="15" cols="500">
{{text5}}
</textarea>
<hr>
<h2>large<h2>
<textarea style="font-Family: Consolas" rows="20" cols="500">
{{text6}}
</textarea>
<hr>
<h2>xlarge<h2>
<textarea style="font-Family: Consolas" rows="30" cols="500">
{{text7}}
</textarea>
